<footer class="site-footer">
    <div class="footer-logo">
        <a href="https://mipt.ru"><img src="1MIPT-01.png" height="100"></a>
    </div>
    <div class="footer-logo left-logo">
        <a href="https://mipt.ru/education/departments/fpmi/"><img src="2PAMI-01.png"  height="100"/></a>
    </div>
    <div class="footer-logo left-logo">
        <a href="https://mipt.ru/dcam/"><img src="3DCAM-01.png" height="100"/></a>
    </div>
    <div class="footer-logo left-logo">
        <a href="https://vk.com/studsovet_fupm"><img src="4SCDCAM-01.png" height="100"/></a>
    </div> 

    <div class="contacts-container">
        <div class="contacts">
            <span class="site-footer-owner">Контактная почта: <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span>
            <span class="site-footer-owner">Группа в VK: <a href="{{ site.vk.url }}">{{ site.vk.name }}</a>.</span>
            <span class="site-footer-owner">Телеграм-чат: <a href="{{ site.tg.url }}">{{ site.tg.name }}</a>.</span>
        </div> 
    </div>    

</footer>